<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap" rel="stylesheet">

<style>
  .card-title {
      font-size: 1.8em; /* 적당한 크기로 조정 */
      font-weight: 800; /* 굵기 조정 */
      font-family: 'Poppins', 'Noto Sans KR';
      margin: 0 0 10px;
      color: #333; /* 어두운 색상 */
      text-align: center;
  }

  .project-date {
      font-size: 0.95em; /* 약간 작게 */
      color: #888; /* 회색 톤 */
      margin-bottom: 5px; /* 기존 값보다 줄인 여백 */
  }

  .card-text {
      font-size: 1em;
      color: #555;
  }

  /* 카드 안의 텍스트 정렬 */
  .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
</style>

<div class="col">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.post-title }}</h2>
        <p class="project-date">
          {% if project.end_date %}
            {{ project.start_date | date: "%Y-%m-%d" }} ~ {{ project.end_date | date: "%Y-%m-%d" }}
          {% else %}
            {{ project.start_date | date: "%Y-%m-%d" }}
          {% endif %}
        </p>
        <p class="card-text">{{ project.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if project.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {% if project.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>

